## Visual Studio / .NET
*.suo
*.user
.vs/
bin/
obj/
*.cache
*.dll
*.exe
*.pdb
publish/

## IDE
.idea/
.vscode/
*.swp

## OS
.DS_Store
Thumbs.db
Desktop.ini

## NuGet
*.nupkg
packages/
.nuget/
